@model List<Producto>

<div style="background-image: url(https://atletismoantioquia.com/wp-content/uploads/2018/02/Fondo-para-Pagina-web-2018.jpg)">
    <h1>Lista de Productos</h1>

    @if (Model.Count == 0) 
    {
        <p>No hay productos registrados.</p>
    }

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <img src="@item.Foto">
            </div>
            <div class="col-sm-6">
                    <h3>@item.Nombre</h3>
                    <p>Marca: @item.Marca</p>
                    <p>Medida: @item.Medida</p>
                    <p>Precio: @item.Precio</p>
                    <p>Descripción: @item.Descripcion</p>
            </div>
        }
    </div>
</div>